@charset "UTF-8";
*{
	font-family: "微软雅黑","Times New Roman",Georgia,Serif;
}
.ml10{
	margin-left:10px;
}
.mr10{
	margin-right:10px;
}
.login_txt{
	width:75px;
}
.login_input{
	width: 210px !important;
}
.auto{
	margin:0 auto;
}
.mt10{
	margin-top:10px;
}
.modal-content {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.hover_bg:hover{
	background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
}
.form-horizontal .control-label {
    padding-top: 2px;
}
.new_project_txt{
	width: 58% !important;
}